In [2]:
import numpy as np
import pandas as pd
import seaborn as sb
import sys

In [3]:
# Import data
dataset_raw = pd.read_csv("dataset.csv")
income_raw = pd.read_csv("Salary_Data_2022_REV15.csv")
display(dataset_raw)
display(income_raw)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,15,1,1,19,1,1,10,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,12,1,1,1,22,27,10,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9,1,1,1,22,27,8,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,5,1,15,1,1,9,23,27,6,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

,ID,Timestamp,Age.Range,Years.of.Experience,Industry,Job.Title,Company.Name,Education,Location,Country,...,Currency,Maternity.Paternity.Months,Sick.Days,Office.Days,Open.To.Discuss.Salary,How.many.months.Maternity.or.Paternity.does.your.company.offer.,Gender,X,Diverse.Identity..Optional.,Description
0,1,12/8/2021 3:05,18-21,3.0,GAMING,STREAMER,TWITCH,None,LOS ANGELES CA,US,...,USD,NaN,NaN,NaN,No,as much as i want,Male,NaN,NaN,TWITCH
1,2,12/9/2021 15:49,30-33,5.0,HEALTHCARE,AESTHETIC NURSE PRACTITIONER/BUSINESS OWNER,AESTHETIC CLINIC,Master's Degree,WINNIPEG,CANADA,...,CAD,NaN,NaN,5.0,Yes,NaN,Male,NaN,NaN,AESTHETIC CLINIC
2,3,12/8/2021 2:16,18-21,1.0,ONLINE ARCADE,OWNER,RUST CLASH,High School/GED,SAN DIEGO,US,...,USD,NaN,7.0,NaN,Yes,NaN,Male,NaN,NaN,RUST CLASH
3,4,12/8/2021 5:15,18-21,2.0,CRYPTO,HEAD OF MARKETING,REDACTED,Some College,"TAMPA, FL",US,...,USD,NaN,NaN,NaN,Yes,Not sure,Male,NaN,NaN,REDACTED
4,5,12/8/2021 14:16,34-37,13.0,WINDOW COVERINGS,OWNER,CAROLINA BLIND CRAFTERS,Bachelor's Degree,"CHARLOTTE, NC",US,...,USD,NaN,NaN,3.0,No,None,Female,NaN,NaN,CAROLINA BLIND CRAFTERS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32565,32566,1/7/2022 2:27,30-33,9.0,BEAUTY,SOCIAL MEDIA DIRECTOR,UNILEVER,Bachelor's Degree,"LOS ANGELES, CA",US,...,USD,NaN,NaN,2.0,NaN,NaN,Female,NaN,NaN,UNILEVER
32566,32567,1/7/2022 6:09,34-37,14.0,RETAIL,SENIOR MANAGER,RRL,Master's Degree,MUMBAI,INDIA,...,INR,20,7.0,5.0,No,6,Male,NaN,NaN,RRL
32567,32568,1/7/2022 12:38,30-33,5.0,TECHNOLOGY,MARKETING MANAGER,SIEMENS,Master's Degree,LONDON,UK,...,GBP,NaN,8.0,2.0,No,12,Female,NaN,NaN,SIEMENS
32568,32569,1/7/2022 12:40,26-29,4.0,MATERIAL HANDLING,SOLUTIONS CONSULTANT,DEMATIC,Bachelor's Degree,"GRAND RAPIDS, MI",US,...,USD,NaN,NaN,NaN,Yes,NaN,Male,NaN,Hispanic,DEMATIC
32569,32570,1/7/2022 12:41,22-25,3.0,MATERIAL HANDLING,ENGINEERING SUPERVISOR,HONEYWELL,Bachelor's Degree,"MASON, OH",US,...,USD,NaN,NaN,NaN,Yes,NaN,Male,NaN,Hispanic,HONEYWELL INTELLIGRATED

In [4]:
# Prepare income data
# Remove income data from younger age range

print("Raw:", income_raw['Age.Range'].unique(), len(income_raw), "rows")
income_clean = (income_raw[(income_raw['Age.Range'] >= "38-41") 
                           + (income_raw['Age.Range'].isna())])
print("Cleaned:", income_clean['Age.Range'].unique(), len(income_clean), "rows")

Raw: ['18-21' '30-33' '34-37' '38-41' '22-25' '26-29' '54-57' '46-49' '42-45'
 '58+' '50-53' nan] 32570 rows
Cleaned: ['38-41' '54-57' '46-49' '42-45' '58+' '50-53' nan] 1578 rows

In [7]:
# Compare and map income data
# 1â€”Student
# 2â€”Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers
# 3â€”Specialists in Intellectual and Scientific Activities
# 4â€”Intermediate Level Technicians and Professions
# 5â€”Administrative staff
# 6â€”Personal Services, Security and Safety Workers, and Sellers
# 7â€”Farmers and Skilled Workers in Agriculture, Fisheries, and Forestry
# 8â€”Skilled Workers in Industry, Construction, and Craftsmen
# 9â€”Installation and Machine Operators and Assembly Workers
# 10â€”Unskilled Workers
# 11â€”Armed Forces Professions
# 12â€”Other Situation; 13â€”(blank)
# 14â€”Armed Forces Officers
# 15â€”Armed Forces Sergeants
# 16â€”Other Armed Forces personnel
# 17â€”Directors of administrative and commercial services
# 18â€”Hotel, catering, trade, and other services directors
# 19â€”Specialists in the physical sciences, mathematics, engineering, and related techniques
# 20â€”Health professionals
# 21â€”Teachers
# 22â€”Specialists in finance, accounting, administrative organization, and public and commercial relations
# 23â€”Intermediate level science and engineering technicians and professions
# 24â€”Technicians and professionals of intermediate level of health
# 25â€”Intermediate level technicians from legal, social, sports, cultural, and similar services
# 26â€”Information and communication technology technicians
# 27â€”Office workers, secretaries in general, and data processing operators
# 28â€”Data, accounting, statistical, financial services, and registry-related operators
# 29â€”Other administrative support staff
# 30â€”Personal service workers
# 31â€”Sellers
# 32â€”Personal care workers and the like
# 33â€”Protection and security services personnel
# 34â€”Market-oriented farmers and skilled agricultural and animal production workers
# 35â€”Farmers, livestock keepers, fishermen, hunters and gatherers, and subsistence
# 36â€”Skilled construction workers and the like, except electricians
# 37â€”Skilled workers in metallurgy, metalworking, and similar
# 38â€”Skilled workers in electricity and electronics
# 39â€”Workers in food processing, woodworking, and clothing and other industries and crafts
# 40â€”Fixed plant and machine operators
# 41â€”Assembly workers
# 42â€”Vehicle drivers and mobile equipment operators
# 43â€”Unskilled workers in agriculture, animal production, and fisheries and forestry
# 44â€”Unskilled workers in extractive industry, construction, manufacturing, and transport
# 45â€”Meal preparation assistants
# 46â€”Street vendors (except food) and street service providers

np.set_printoptions(threshold=sys.maxsize)
# print("Occupations:", income_clean['Job.Title'].unique(), len(income_clean['Job.Title'].unique()), "entries")
print("Industries:", income_clean['Industry'].unique(), len(income_clean['Industry'].unique()), "entries")

Industries: ['BANKING' 'HEALTHCARE' 'MEDICAL' 'MEDICINE' 'GAME DESIGNER' 'FINANCE'
 'AIRLINE' 'DENTISTRY ' 'LEGAL' 'FILM & TV (STREAMING)' 'ADVERTISING'
 'TECH' 'MEDICINE/HEALTH CARE' 'HEALTH CARE' 'POLTECHICS' 'POLITICS'
 'PHARMA' 'LAW' 'REAL ESTATE' 'CONSTRUCTION' 'TECHNOLOGY' 'AVIATION'
 'RETAIL' 'TECH SALES' 'ENTERTAINMENT' 'MEDIA AND ENTERTAINMENT'
 'MORTGAGE LENDING' 'ELECTRONICS' 'PRODUCE' 'MAGINMENT ' 'CONSULTING'
 'THIRD PARTY LOGISTICS/SUPPLY CHAIN' 'PRODUCT' 'PHARMACEUTICAL '
 'MEDIA SALES' 'MARKETING' 'CONSUMER GOODS' 'TRANSPORTATION'
 'COLLEGE MANAGEMENT' 'FINTECH' 'HR- TECH' 'FINANC' 'SOFTWARE' 'INSURANCE'
 'BANKING ' 'MEDIA' 'PUBLISHING' 'PROFESSIONAL SERVICES'
 'CUSTOMER SUCCESS' 'FINANCIAL SERVICES' 'PHARMACY' 'LIFE SCIENCES '
 'AUTOMOTIVE FIXED OPERATIONS' 'DEFENSE ENGINEERING (LARGE)' 'GOVERNMENT'
 'BIOTECH' 'TEXH' 'TELECOM' 'CPG' 'BIGLAW' 'PUBLIC ACCOUNTING'
 'MEDIA ADTECH' 'TECH DEVELOPER' 'MUSIC SOFTWARE' 'CYBER SECURTECHY'
 'CONSTRUCTION ' 'TECH / TECH' 'ACCOUNTING ' 'CYBER CONSULTING' 'STRATEGY'
 'PHARMA R&D' 'TECH / NETWORK ENGINEER' 'SALES' 'TV AND FILM PRODUCER'
 'HR' 'INVESTMENT/ TECH' 'OSPE' 'REAL ESTATE ' 'ASSET MANAGEMENT '
 'QUICK SERVICE RESTAURANT' 'UTILITY' 'MEDICAL DEVICES' 'FASHION DESIGN'
 'AD SALES' 'DESIGN' 'FINANCIAL' 'COMMUNICATION' 'TECH '
 'MARKETING TECHNOLOGY' 'CHEMICAL MANUFACTURING' 'TELEVISION' 'ECOMMERCE'
 'MARKETING COMMUNICATIONS' 'ASSET MANAGEMENT' 'AD AGENCY' 'SUPPLY CHSIN'
 'PRODUCT DESIGN' 'BEAUTY ' 'E COMMERCE' 'MANAGEMENT CONSULTING'
 'HR / INSURANCE TECH' 'CPG - CONSUMER PACKAGED GOODS' 'TECH /AI'
 'SPECIALTY PHARMACY ' 'NON PROFTECH' 'PHARMACEUTICALS' 'POLICE OFFICER'
 'MUSIC INDUSTRU' 'COMPUTERS' 'DIGTECHAL MARKETING' 'CLINICAL RESEARCH'
 'COMPUTER TECH' 'FINANCE OPERATIONS ' 'FINANCIAL SERVICES ' 'EDUCATION'
 'PROGRAM MANAGEMENT' 'EDUCATION SERVICES' 'RENEWABLE ENERGY' 'ACCOUNTING'
 'MENTAL HEALTH' 'INDUSTRIAL' 'ACADEMICS' 'HEALTH INFORMATION TECHNOLOGY '
 'TECH ENGINEERING' 'COMPUTER HARDWARE AND SOFTWARE' 'CYBERSECURITY'
 'GOV ENGINEER' 'CONSTRUCTION PROJECT MANAGEMENT' 'TECH TECH'
 'VIDEO GAMES' 'SUPPLY CHAIN' 'FASHION' 'TECHNOLOGY ' 'MEDICAL DEVICE'
 'AEROSPACE' 'TECH/HEALTHCARE' 'BANKING AND WEALTH MANAGEMENT' 'CLOUD'
 'INTERIOR DESIGN' 'POST PRODUCTION' 'FEDERAL GOVERNMENT' 'AD TECH'
 'OIL AND GAS' 'BENEFITS ' 'ENGINEERING' 'MARKETING/ADVERTISING' 'IT'
 'AUTOMOTIVE' 'HEALTH' 'ENERGY' 'SEMICONDUCTOR ' 'COMMERCIAL REAL ESTATE'
 'TECH CONSULTING' 'SALES OPERATIONS' 'DOD' 'LAW ENFORCEMENT'
 'INVESTMENT BANKING' 'EVENTS' 'LAWYER' 'PUBLIC CHILD WELFARE'
 'FREELANCE TV PRODUCTION' 'HIGHER EDUCATION' 'ADVERTISING '
 'EXECUTIVE COACHING' 'GOVT' 'SALES AND MARKETING' 'AGRISCIENCE'
 'OIL & GAS' 'BUSINESS ELECTRONICS' 'NUTRTECHION AND FTECHNESS'
 'PHARMACEUTICAL' 'TRAVEL' 'ENERGY & SUSTAINABILITY' 'TELECOMMUNICATIONS'
 'CPG ' 'PHARMACEUTICAL SALES' 'HEALTH INSURANCE' 'INDUSTRIAL CONTROLS'
 'SUSTAINABILTECHY CONSULTING' 'ELECTRTECHIAN' 'RECRUTECHING'
 'DEFENSE CONTRACTOR/HR' 'HAIRSTYLIST' 'SOFTWARE SALES'
 'MARKETING/ ADVERTISING' 'NON-PROFIT ' nan 'DBA'
 'DIGTECHAL BUSINESS TRANSFORMATION' 'PHILANTHROPY' 'BIG 4'
 'EDUCATION ADMINISTRATION' 'E-COMMERCE' 'HOSPTECHALTECHY'
 'INSURANCE- CLAIMS' 'FOOD MANUFACTURING' 'WEB DESIGN/DEVELOPMENT'
 'HIGHER EDUCATION ' 'MORTGAGE' 'PHARMACEUTICAL RESEARCH'
 'FINANCE - PRIVATE EQUTECHY - INVESTOR RELATIONS' 'ED TECH' 'MANAGEMENT'
 'TELCOME' 'CONSULTING/TECH' 'HAIR' 'TECH/TECH'
 'MARKETING - CORPORATE BRANDS' 'CIVIL ENGINEERING / INFRASTRUCTURE'
 'HEALTH CARE CONSULTING' 'FEDERAL GOVERNMENT - LABOR' 'AUDIO VISUAL A/V'
 'INSURANCE CLAIMS' 'FILM ' 'MANUFACTURING' 'DEFENSE'
 'INDUSTRIAL AUTOMATION' 'CAREER TRAINING' 'HIGH TECH' 'TECH AND TRAINING'
 'LEGAL SERVICES' 'MED TECH' 'FINTECH SALES' 'COFFEE'
 'MILITARY CONTACTING SOFTWARE ENGINEERING ' 'HEALTHCARE REVENUE CYCLE'
 'CYBERSECURITY ' 'ALCOHOLIC BEVERAGE/CPG' 'BANKING / FINANCE'
 'WINE AND SPIRTECHS' 'IT/HEALTHCARE' 'INFORMATION TECHNOLOGY '
 'FAST CASUAL RESTAURANT' 'SEXUAL AND FAMILY VIOLENCE PREVENTION'
 'FINANCE/BANKING' 'OPERATIONS' 'MEDIA, FILM, TELEVISION' 'COLLEGE SPORTS'
 'NONPROFTECH' 'ESCROW' 'INDUSTRIAL MANUFACTURING' 'TV PRODUCTION'
 'AUTO SALES' 'HEALTHCARE TECHNOLOGY ' 'RETAIL BANKING' 'ENGINEERINF'
 'AGRICULTURE' 'INTERNET' 'DISTRIBUTION AND DELIVERY '
 'ADVERTISING/MARKETING' 'HEALTHCARE TECH' 'FOOD MANUFACTURERS'
 'MUSIC ENTERTAINMENT' 'RETAIL/ E-COMMERCE' 'LEARNING & DEVELOPMENT'
 'CANNABIS' 'TECH SALES AND MANAGEMENT' 'ENGINEERING AND CONSTRUCTION'
 'USPS' 'APPLIANCE SALES' 'GOVERNMENT COMMUNICATIONS'
 'MARKETING AND SALES' 'MORTGAGE FINANCING' 'FOOD SERVICE'
 'RETAIL/MANUFACTURERING' 'RETAIL MANAGEMENT' 'ENTERTAINMENT '
 'CO STRUCTION (EPC)' 'HUMAN RESOURCES' 'BEAUTY' 'ORTHODONTIC APPLIANCE'
 'HCM' 'TALENT ACQUISTECHION' 'MEDICAL DEVICE SALES' 'EDUCACIÃƒÂ³N'
 'RETAIL SALES' 'BUSINESS DEVELOPMENT' 'SPECIALTY PHARMACEUTICAL SALES'
 'NATIONAL NONPROFTECH' 'MANUFACTURING / DISTRIBUTION' 'DATA SCIENCE LEAD'
 'BIOPHARMA' 'CONSUMER PACKAGED GOODS' 'VARIOUS' 'MEDICAL EDUCATION'
 'DIGITAL MEDIA' 'IT CONSULTANCY ' 'BANKING - MARKETING' 'APPAREL'
 'HOSPITALITY ' 'PROFESSIONAL SERVICES ' 'LUXURY HOME PRODUCTS RETAIL'
 'LOCAL GOVERNMENT' 'TELECOMMUNICATIONS ' 'NURSING' 'HEALTHCARE '
 'PUBLIC UTILTECHY - WATER' 'MEDICAL/SOCIAL SERVICES' 'LOGISTICS'
 'TECH (HIGHER EDUCATION)' 'HEATH CARE' 'HIGHER ED TECH'
 'SEMICONDUCTOR DESIGN' 'REGISTERED NURSE' 'PUBLIC RELATIONS'
 'INVESTMENTS' 'HR/PAYROLL' 'PROJECT MANAGEMENT' 'MAGAZINE EDTECHORIAL'
 'I-12 EDUCATION ' 'EDUCATION TECHNOLOGY ' 'WHOLESALE'
 'RESEARCH AND DEVELOPMENT' 'CONSUMER VANKING' 'DEI/FINANCE'
 'STATE GOVERNMENT' 'DIGTECHAL ADVERTISING OPERATIONS MANAGER' 'HIGHER ED'
 'LIQUOR' 'VIDEO GAME ENGINEER' 'TEACHING ' 'FINANCIAL OPERATIONS'
 'AIRLINES' 'CARDIAC CATH LAB' 'SECURTECHY'
 'PUBLIC RECORDS/ PROPERTY RESEARCH' 'MARKET RESEARCH'
 'FINANCE AND INVESTING' 'UX/UI' 'EDUCATION ' 'RETAIL RESTAURANTS'
 'ACADEMIA' 'PROPERTY MANAGEMENT' 'BENEFTECHS OUTSOURCING' 'TECH (TECH)'
 'TEACHER' 'SOCIAL WORK' 'MEDICAL DEVICES/CORPORATE HEALTHCARE'
 'CIVIL ENGINEERING' 'ALCOHOL' 'MEDTECH' 'INSURANCE CASE MANAGEMENT'
 'BIOTECH PHARMA' 'SERVICE/PEST CONTROL' 'RESTAURANT'
 'INFORMATION TECHNOLOGY & SERVICES' 'APPLE TECHNOLOGY SUPPORT'
 'INSURANCE - TECH' 'CX/UX' 'MANUFACTURING/MARKETING' 'BOOK PUBLISHING'
 'PR' 'HEALTH COACHING' 'SPEECH THERAPY - EDUCATION SYSTEM'
 'AEROSPACE/DEFENSE' 'INFORMATION SYSTEMS' 'HOUSING' 'GOV'
 'RETAIL MANAGER' 'FLORAL' 'PCBA' 'CORPORATE HOSPTECHALTECHY' 'FINACE'
 'NURSING ' 'FILM AND TELEVISION PRODUCTION '
 'VIDEO / BROADCAST / LIVE ENTERTAINMENT' 'PAYMENT INDUSTRY' 'INSURANCE '
 'BIOTECH PROJECT MANAGEMENT' 'IT SALES SUPPORT ' 'TV ENTERTAINMENT'
 'INTERNATIONAL DEVELOPMENT' 'IT - SOFTWARE' 'FINANCR' 'FUNDRAISING'
 'DME/HME' 'HIGH EDUCATION' 'CORPORATE REAL ESTATE' 'HUMAN RESOURCE'
 'RESIDENTIAL PROPERTY MANAGEMENT' 'GOVERNMENT IT' 'MEDICAL INSURANCE '
 'TECHNOLOGY SALES' 'A/E/C' 'GRAPHIC DESIGN ' 'MARKETING '
 'CHILD PROTECTION' 'FINANCIAL INSTTECHUTION' 'TELECOMMUNICATION'
 'PUBLIC HEALTH ' 'GRAPHIC DESIGNER' 'FIANCÃƒÂ©' 'NON-PROFTECH/GOVERNMENT'
 'RETIREMENT' 'HEALTHCARE LOGISTICS' 'TECH & MEDIA' 'NONPROFIT'
 'VICTIM SERVICES ' 'PUBLIC SEVICE' 'SENIOR LIVING SALES'
 'HOSPTECHALTECHY MARKETING' 'HOSPTECHAL' 'TECH CLOUD TECH SERVICE'
 'CAREER SERVICES' 'NON-PROFTECH' 'DJ AND AUDIO VISUAL' 'AUTO INSURANCE'
 'FINANCIAL ' 'FOOD AND BEVERAGE' 'HEALTHCARE MARKETING' 'ELECTRONIC'
 'TITLE AND ESCROW ' 'ACADEMIC/UNIVERSTECHY' 'GOVERNMENT CONTRACTOR'
 'COMMUNICATIONS' 'DENTAL HYGIENE' 'PHOTOGRAPHY' 'GLASS'
 'RETAIL GROCERY MANAGER' 'GOV CONTRACTING TECH'
 'EDUCATION/ HUMAN SERVICES' 'ARCHTECHECTURE' 'HIGHER EDUCATIONAL SALES'
 'NON PROFIT' 'MENTAL HEALTH ' 'VETERINARY MEDICINE'
 'GOVERNMENT - SOCIAL SERVICES' 'HEALTH CARE- OUTPATIENT'
 'POST SECONDARY FOR PROFTECH SCHOOL' 'MORTGAGE SERVICING'
 'CYTOGENETIC TECHNOLOGIST' 'RELOCATION' 'HVAC' 'SOCIAL SERVICES '
 'VENTURE CAPTECHALIST' 'MUSEUM, LIBRARIES, ARCHIVES' 'TEACHING'
 'CRTECHICAL CARE TRANSPORT' 'AUTOMOTIVE ' 'MEDICAL DEVICE MANUFACTURING'
 'GOVERNMENT ' 'ADMINISTRATION' 'MULTIFAMILY' 'HR TECH'
 'DIGTECHAL ADVERTISING / MARKETING' 'PAYROLL' 'LAW ENDORCEMENT'
 'CIVIL SERVICE' 'DIGITAL ADVERTISING. UX/UI' 'EDTECH'
 'NATURAL AND ARTIFICIAL STONE' 'LIFE SCIENCES' 'HOTELS/HOSPITALITY '
 'FITNESS' 'PRODUCT MANAGER' 'SALES SUPPORT FLEET MANAGEMENT'
 'CONSTRUCTION SUPPLIER' 'CHILDCARE' 'BEHAVIORAL HEALTH INSURANCE'
 'FOOD SERVICE ' 'RESIDENTIAL ASSET MANAGEMENT' 'CUSTOMER SERVICE'
 'HIGHER EDUCATION (UNIVERSTECHY)' 'ENERGY EFFICIENCY'
 'HIGHER ED ADMINISTRATION ' 'FTECHNESS' 'FOOD' 'EDUCATION/TECH COMPANY'
 'VETERINARY' 'AUTO FINANCE' 'PUBLIC SAFETY'
 'SPIRTECHUAL CARE/LEADERSHIP/TEACHING' 'RETAIL ' 'HTECH' 'PRINTING'
 'SOCIAL SERVICES' 'MINISTRY' 'BENEFTECHS/HR/PAYROLL' 'MILITARY '
 'FASHION MAGAZINE' 'EDUCATION TECH' 'EDUCATION/NON-PROFTECH'
 'HIGHER EDUCATION RESEARCH ADMINISTRATION' 'MEDICAL ' 'MORTGAGE LOANS '
 'DOULA' 'JOURNALISM' 'ECONOMIC DEVELOPMENT' 'MEDICAL LABORATORY SCIENCE'
 'OPTICIAN' 'MEDICAL INSURANCE' 'MANAGED SERVICES' 'ACCOUNTS'
 'HIGHER EDUCATION- COMMUNITY COLLEGE ' 'AUTOMOTIVE PARTS' 'GROCERY'
 'HUMAN SERVICES' 'BUYING' 'WORKFORCE MANAGEMENT' 'LIBRARY'
 'CORPORATE RETAIL' 'POSTAL SERVICE' 'UTILITIES' 'ARCHITECTURE '
 'MERCHANDISING' 'ACCOUNTANT' 'NON-PROFTECH ARTS' 'UX AND SERVICE DESIGN'
 'AUDIO VISUAL' 'TOURISM' 'CHEMICAL' 'DOCK EQUIPMENT' 'LIBRARY TECH'
 'HAZARDOUS WASTE MANAGEMENT' 'CLINICAL TRIALS'
 'MEDICAL BILLING AND CODING' 'ACCOUNTS PAYABLE'
 'DIGTECHAL MARKETING/ TECH' 'MEDICAL BILLING' 'FACILTECHY MAINTENANCE'
 'HEALRHCARE' 'DISABILTECHY SUPPORT' 'MEDICAL RECRUTECHING' 'LOGISTICS '
 'PUBLIC HEALTH' 'RESTAURANT ' 'FINANCE/INSURANCE' 'MUNICIPAL'
 'HOT TUB MANUFACTURER' 'P & C INSURANCE' 'FOOD SAFETY'
 'PAPER AND PACKAGING' 'BPO' 'AUTOMOTIVE FINANCE'
 'HEALTHCARE ADMISTRATION' 'LENDING ' 'HEALTHCARE CODING'
 'ADMIN/PARALEGAL/PROJECT COORDINATOR'
 'HIGHER EDUCATION - ENROLLMENT MANAGEMENT' 'REAL ESTATE / TECH'
 'MEDIA (COMMUNITY)' 'HEALTH FIELD' 'STAFFING' 'HOME CARE'
 'PERSONAL INSURANCE' 'LAW AND JUSTICE' 'LABORATORY TECH'
 'HEALTHCARE ACCOUNTING' 'LIFE INSURANCE' 'VIDEOGAMES '
 'SPECIALTY PHARMACY' 'COMERCIAL BANKING ' 'WELLNESS' 'WATER RESOURCES '
 'SUPPLY ' 'STAFFING AND RECRUITING' 'OPTICAL' 'CIRCUTECH COURT'
 'MEDICAL INSURANCE/BILLER' 'FULFILLMENT CENTER ' 'PRODUCTION'
 'HOSPITALITY' 'GROCERY RETAIL' 'WEB DEVELOPMENT' 'MORTGAGE ORIGINATOR'
 'BOOKKEEPING' 'FUNERAL' 'SKI RESORT' 'UNIVERSITY EDUCATION'
 'PARKS AND RECREATION' 'DISABILTECHY' 'MED' 'ACCOUNTS RECEIVABLE'
 'SPORTS' 'FRANCHISEE' 'SPECIAL EDUCATION' 'AUDIOLOGY'
 'AUTO AND PROPERTY INSURANCE' 'WASTEWATER' 'STRAIGHT UP PORN'
 'DENTAL MEDICINE: ORTHODONTISTS' 'COMMERCIAL SPACE PLANNING TECH'
 'PSYCHOTHERAPY/MENTAL HEALTH COUNSELING' 'RAILROAD '
 'ENTERTAINMENT ADVERTISING'] 585 entries

In [39]:
# Remove currently enrolled students as they aren't indicative
print(dataset_raw['Target'].unique())
dataset_clean = dataset_raw[dataset_raw['Target'] != "Enrolled"]
print("Enrolled students dropped,", len(dataset_clean), "rows remaining")

['Dropout' 'Graduate' 'Enrolled']
Enrolled students dropped, 3630 rows remaining